.editor {
  display: flex;
  flex-direction: column;
}

.editor-header {
  display: flex;
  flex-direction: row;
  min-height: 41px;
  border-bottom: solid var(--border) 1px;
}

input.title {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  flex-grow: 2;
}

input.title:focus {
  outline: none;
}

textarea.content {
  height: 100%;
  border: none;
  font-family: Courier New;
  resize: none;
}

textarea.content:focus {
  outline: none;
}
