.dashboard {
  display: grid;
  grid: 'E P';
  background-color: white;
}

.btn {
  font-family: Courier New;
  color: black;
  font-size: 0.8rem;
  background: #ffffff;
  padding: 0.25rem 0.5rem;
  border: solid #8a8a8a 1px;
  text-decoration: none;
}

.btn:hover {
  border-color: var(--blue);
  color: var(--blue);
  text-decoration: none;
}

.input-transparent {
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
}

.input-transparent:focus {
  outline: none;
}
