.footer {
  background-color: var(--white01);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  min-height: 40px;
  align-items: center;
  border-top: solid 1px var(--border);
  padding-right: var(--sidebar-size);
}

.search form {
  display: inline-flex;
}
