.footer {
  background-color: var(--white01);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: left;
  min-height: 40px;
  align-items: center;
  border-top: solid 1px var(--border);
}

.search form {
  display: inline-flex;
}

.search-results {
  margin-bottom: 40px;
  width: 30%;
  border-right: solid 1px var(--border);
}

.search-results ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results li {
  width: 100%;
  border-bottom: solid 1px var(--border);
  padding: 8px;
}
